/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************************************************
                               CSS BEGINS
****************************************************************************/

nav{
    background-color: #ceb5a7;
    font-family: poppins light;
    padding: 35px;
}

.container{
    visibility: hidden;
    height: 0px;
    margin: 0px;
    z-index: -1;
}

#logo{
    visibility: visible;
    max-width: 70px;
    position: absolute;
    top: 8px;
    left: 210px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

/* .dropbtn {
    background-color: rgba(0,0,0,0);
    max-height: 40px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: right;
  }

.dropbtn:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

.dropbtn:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

.dropbtn:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

.dropdown {
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
  }

#dropimg {
    max-width: 50px;
  }

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: #f1f1f1;
    max-width: 300px;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #ddd
}

.show {display:block;
} */

a{
    color: #eaeae1;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    color: black;
}

a{
    padding: 50px;
}

h1{
    font-family: fahkwang;
    font-size: 32px;
    top: 50px;
}

.home{
    position: absolute;
    color: antiquewhite;
    left: 120px;
    top: 170px;
}

h2{
    color: #ceb5a7;
    font-family: poppins light;
    font-size: 25px;
    
}

.new{
    padding: 75px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

h3{
    color: #ceb5a7;
    font-family: poppins light;
    font-size: 30px; 
}

#mom{
    width: 100%;
}

#luna{
    width: 100%;
}

#me{
    width:100%;
}

#contact{
    width: 100%;
}

#social{
    width: 100%;
}

#rye{
    width: 100%;
}

.photog{
    position:absolute;
    padding-top: 125px;
    padding-left: 130px;
    color: black;
    font-size: 35px;

}

.soc{
    position: absolute;
    color: black;
    top: 670px;
    left: 50px;
}

#book-now1{
    height: auto;
    width: 200px;
    border: none;
    padding: 15px;
    border-radius: 20px;
    background-color: #ceb5a7;
    color: #eaeae1;
    position: absolute;
    top: 310px;
    left: 140px;
}

#book-now1:hover{
    box-shadow: 0.2rem 0.2rem black;
}

#book-now2:hover{
    box-shadow: 0.2rem 0.2rem black;
}

#book-now2{
    height: auto;
    width: 200px;
    border: none;
    padding: 15px;
    border-radius: 20px;
    background-color: #ceb5a7;
    color: #eaeae1;
    position: absolute;
    top: 720px;
    left: 140px;
}

#book-now3:hover{
    box-shadow: 0.2rem 0.2rem black;
}

#book-now3{
    height: auto;
    width: 200px;
    border: none;
    padding: 15px;
    border-radius: 20px;
    background-color: #ceb5a7;
    color: #eaeae1;
    margin: 20px;
}

.book-now{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.reach-out{
    position: absolute;
    padding-top: 140px;
    color: #eaeae1;
}

#fullname{
    width: 100%;
}

#email{
    width: 100%;
}

#message{
    width: 100%;
}

.text-padding{
    padding: 3px;
    margin: 10px;
    color: #ceb5a7;
}

.message-padding{
    margin: 50px;
}

.send-button{
    margin-left: 50px;
    border-radius: 20px;
    border: none;
    background-color: #ceb5a7;
    padding: 5px;
    color: #eaeae1;
}

.thank-you{
    margin: 50px;
}

.form{
    padding: 15px;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
}

.hobbies{
    padding-bottom: 30px;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

footer{
    background-color: #eaeae1;
    color: #ceb5a7;
    text-align: center;
    margin-top: 90px;
}

.footer{
    display: flex;
    flex-direction: column;
    background-color: #ceb5a7;
    padding: 20px;
    font-family: poppins light;
}

/*----------------------------------------------------------------

                      DESKTOP VERSION

-----------------------------------------------------------------*/

@media screen and (min-width: 820px){

    .dropdown{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container ul{
        visibility: visible;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        z-index: 5;
    }

    nav{
        height: 100px;
        padding: 5px;
    }

    .banner{
        height: 200px;
    }

    #mom{
        z-index: -1;
    }

    .home{
        font-size: 60px;
        top: 680px;
    }

    .new{
        font-size: 48px;
    }

    .info{
        font-size: 28px;
        padding-top: 70px;
        margin: 20px;
    }

    #book-now3:hover{
        box-shadow: 0.2rem 0.2rem black;
    }
    
    #book-now3{
        height: auto;
        width: 200px;
        border: none;
        padding: 15px;
        border-radius: 20px;
        background-color: #ceb5a7;
        color: #eaeae1;
        position: absolute;
        top: 2000px;
        right: 375px;
    }

    #logo{
        min-width:100px;
        position:relative;
        left: 0px;
    }

    #me{
        max-width: 50%;
    }

    .grid{
        justify-items: center;
    }

    .about-me{
        margin: 20px;
        font-size: 60px;
    }

    .who{
        font-size: 48px;
        padding: 10px;
    }

    .hi{
        font-size: 28px;
    }

    .hobbies{
        font-size: 28px;
    }

    .why{
        font-size: 48px;
        padding: 10px;
    }

    .goal{
        font-size: 28px;
    }

    .my-work{
        font-size: 60px;
        margin: 20px;
    }

    .photog{
        font-size: 48px;
        top: 540px;
    }

    .soc{
        font-size: 48px;
        top: 2090px;
    }

    #book-now1{
        top: 740px;
    }

    #book-now2{
        top: 2150px;
    }

    .reach-out{
        font-size: 60px;
        top: 90px;
        margin: 20px;
    }

    .send-button{
        width: 60px;
        margin: 20px;
        margin-left: 50px;
    }

    .send-button:hover{
        box-shadow: black 0.2rem 0.2rem;
    }

    .form{
        position: absolute;
        top: 500px;
        background-color: rgba(234, 234, 225, 0.3);
        margin: 50px;
        width: 500px;
    }

    .text-padding{
        color:black;
        font-size: 18px;
    }

    .message-padding{
        height: 20px;
    }
}
