/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************************************************
                               CSS BEGINS
****************************************************************************/

nav{
    background-color: #ceb5a7;
    font-family: poppins light;
    text-align: center;
    padding: 35px;
    height: 30px;
}

.container{
    visibility: hidden;
    height: 0px;
    margin: 0px;
    z-index: -1;
}

#logo{
    visibility: visible;
    max-width: 70px;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    float: left;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

/* .dropbtn {
    background-color: rgba(0,0,0,0);
    max-height: 40px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: right;
  }

.dropbtn:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

.dropbtn:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

.dropbtn:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

.dropdown {
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
  }

#dropimg {
    max-width: 50px;
  }

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: #f1f1f1;
    max-width: 300px;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-color: #ddd
}

.show {display:block;
} */

a{
    color: #eaeae1;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    color: black;
}

a{
    padding: 50px;
}
li{
    display: inline;
}

h1{
    font-family: fahkwang;
    font-size: 32px;
    top: 50px;
}

h2{
    color: #ceb5a7;
    font-family: poppins light;
    font-size: 25px;
}

h3{
    color: #ceb5a7;
    font-family: poppins light;
    font-size: 25px; 
}

#mom{
    width: 100%;
}



.form{
    padding: 15px;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 20px;
}

.hobbies{
    padding-bottom: 30px;
}

p{
    font-family: 'Josefin Sans', sans-serif;
}

footer{
    background-color: #eaeae1;
    color: #ceb5a7;
    text-align: center;
}